<div>
    <form id="chat">
        <h2>Chat</h2>

        <div id="messages"></div>

        <input value={{user.email}} type="text" id="user" hidden>
        <input type="text" id="message" placeholder="consulta">
        <button id="submit" type="submit">Enviar</button>
    </form>
</div>
